[submodule "EniPortogallo"]
	path = EniPortogallo
	url = https://github.com/Sluzaj/EniPortogallo.git
[submodule "EniSpagna"]
	path = EniSpagna
	url = https://github.com/Sluzaj/EniSpagna.git
[submodule "EniFrancia"]
	path = EniFrancia
	url = https://github.com/Sluzaj/EniFrancia.git
[submodule "EniGrecia"]
	path = EniGrecia
	url = https://github.com/Sluzaj/EniGrecia.git
[submodule "EniSlovenia"]
	path = EniSlovenia
	url = https://github.com/Sluzaj/EniSlovenia.git
