

<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
	    data-sly-test.testing="${!properties.titoloCard1}"> </sly>

<sly data-sly-call="${templates.placeholder @ isEmpty=testing}"></sly>


<!-- CON LABEL -->
<sly data-sly-test="${properties.tipoComponente == 'conLabel'}">
<div id="${properties.id}" style="background-color:${properties.backgroundColore @ context='styleString'};">
    <div class="container-lg card-da-2-spacing-huge">
    	<sly data-sly-test=${properties.titolo}>
	        <div class="d-flex">
	            <div class="card-da-2-rectangle"></div>
	            <div class="d-flex flex-column">
	                <span class="card-da-2-title">${properties.titolo @context='html'}</span>
	                <span class="card-da-2-label">
	                    ${properties.sottotitolo @context='html'}
	                </span>
	            </div>
	        </div>
        </sly>
        <div class="w-100 d-flex cards-container ${properties.colorType} card-da-2-displayIMG">
            <div class="card-da-2-container col-lg-6 col-12 px-0 px-0 pr-lg-3">
                <div class="card-da-2-card d-flex flex-column">
                    <div class="card-da-2-card-img" data-sly-use.image="${'com.egl.core.models.utils.ImageModel' @ imagePath=properties.immagine1Reference}">
                        <picture data-sly-use.renditionsManager="${'com.egl.core.models.utils.RenditionsManager' @ imagePath=properties.immagine1Reference}" >
                            <sly data-sly-list="${renditionsManager.renditions.keySet.iterator}">
                                <source media="(min-width: ${item}) and (min-resolution: 150dpi)" srcset="${renditionsManager.doubledRenditions[item] @ context='uri'}">
                                <source media="(min-width: ${item})" srcset="${renditionsManager.renditions[item] @ context='uri'}">
                            </sly>
                            <img loading="lazy"  src="${renditionsManager.renditions['1920px']}" alt="${image.description}">
                        </picture>
                    </div>
                    
                        <div class="card-da-2-card-body d-flex flex-column" >
                            <div class="card-da-2-card-body-label">
                                ${properties.label1}
                            </div>
                            <div class="card-da-2-card-body-title">
                                ${properties.titoloCard1 @context='html'} 
                            </div>
                            <div class="card-da-2-card-body-text"> 
                                ${properties.paragrafoCard1 @context='html'}
                            </div>
                            <div class="bg-link" data-sly-test="${properties.labelCTACard1 && properties.urlCTACard1}">
                            	<a href="${properties.urlCTACard1}" target="${properties.targetCTACard1}" title=${properties.altCTACard1}> 
                                	<button type="button" class="btn btn-link card-da-2-cta-secondary pl-0">
                                   	 	${properties.labelCTACard1}                                  
                               		 </button>
                                 </a>
                            </div>
                        </div>
                        <div class="mask"></div>
                    
                </div>
            </div>
            <div class="card-da-2-container col-lg-6 col-12 px-0 px-0 pl-lg-3">
                <div class="card-da-2-card d-flex flex-column">
                    <div class="card-da-2-card-img" data-sly-use.image="${'com.egl.core.models.utils.ImageModel' @ imagePath=properties.immagine2Reference}">
                        <picture data-sly-use.renditionsManager="${'com.egl.core.models.utils.RenditionsManager' @ imagePath=properties.immagine2Reference}" >
                            <sly data-sly-list="${renditionsManager.renditions.keySet.iterator}">
                                <source media="(min-width: ${item}) and (min-resolution: 150dpi)" srcset="${renditionsManager.doubledRenditions[item] @ context='uri'}">
                                <source media="(min-width: ${item})" srcset="${renditionsManager.renditions[item] @ context='uri'}">
                            </sly>
                            <img loading="lazy"  src="${renditionsManager.renditions['1920px']}" alt="${image.description}">
                        </picture>
                    </div>
                    
                        <div class="card-da-2-card-body d-flex flex-column">
                            <div class="card-da-2-card-body-label">
                                ${properties.label2}
                            </div>
                            <div class="card-da-2-card-body-title">
                                ${properties.titoloCard2 @context='html'} 
                            </div>
                            <div class="card-da-2-card-body-text">
                                ${properties.paragrafoCard2 @context='html'}
                            </div>
                            <div class="bg-link" data-sly-test="${properties.labelCTACard2 && properties.urlCTACard2}">
	                           	<a href="${properties.urlCTACard2}" target="${properties.targetCTACard2}" title=${properties.altCTACard2}> 
	                                <button type="button" class="btn btn-link card-da-2-cta-secondary pl-0">
	                                    ${properties.labelCTACard2}
	                                </button>
		                        </a>
                            </div>
                        </div>
                        <div class="mask"></div>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
</sly>    
    
 <!-- SENZA LABEL -->     
<sly data-sly-test="${properties.tipoComponente == 'senzaLabel'}">
<div id="${properties.id}" style="background-color:${properties.backgroundColore @ context='styleString'};">
    <div class="container-lg card-da-2-spacing-huge">
      	<div data-sly-test=${properties.titolo}>
	        <div class="d-flex">
	            <div class="card-da-2-rectangle"></div>
	            <div class="d-flex flex-column">
	                <span class="card-da-2-title">${properties.titolo @context='html'}</span>
	                <span class="card-da-2-label">
	                    ${properties.sottotitolo @context='html'}
	                </span>
	            </div>
	        </div>
	    </div>


        <div class="w-100 d-flex cards-container ${properties.colorType} card-da-2-displayIMG card-da-2-lista">

            <div class="card-da-2-container col-lg-6 col-12 px-0 px-0 pr-lg-3">
                <div class="card-da-2-card d-flex flex-column">
                    <div class="card-da-2-card-img" data-sly-use.image="${'com.egl.core.models.utils.ImageModel' @ imagePath=properties.immagine1Reference}">
                        <picture data-sly-use.renditionsManager="${'com.egl.core.models.utils.RenditionsManager' @ imagePath=properties.immagine1Reference}" >
                            <sly data-sly-list="${renditionsManager.renditions.keySet.iterator}">
                                <source media="(min-width: ${item}) and (min-resolution: 150dpi)" srcset="${renditionsManager.doubledRenditions[item] @ context='uri'}">
                                <source media="(min-width: ${item})" srcset="${renditionsManager.renditions[item] @ context='uri'}">
                            </sly>
                            <img loading="lazy"  src="${renditionsManager.renditions['1920px']}" alt="${image.description}">
                        </picture>
                    </div>
                    
                        <div class="card-da-2-card-body d-flex flex-column">

                            <div class="card-da-2-card-body-title">
                                ${properties.titoloCard1 @context='html'} 
                            </div>
                            <div class="card-da-2-card-body-text">
                                ${properties.paragrafoCard1 @context='html'}
                            </div>
                            <div class="bg-link" data-sly-test="${properties.labelCTACard1 && properties.urlCTACard1}">
                            	<a href="${properties.urlCTACard1}" target="${properties.targetCTACard1}" title=${properties.altCTACard1}> 
	                                <button type="button" class="btn btn-link card-da-2-cta-secondary pl-0">
	                                    ${properties.labelCTACard1}
	                                </button>
                                </a>
                            </div>
                        </div>
                        <div class="mask"></div>
                    

                </div>

            </div>


            <div class="card-da-2-container col-lg-6 col-12 px-0 px-0 pl-lg-3">
                <div class="card-da-2-card d-flex flex-column">
                    <div class="card-da-2-card-img" data-sly-use.image="${'com.egl.core.models.utils.ImageModel' @ imagePath=properties.immagine2Reference}">
                        <picture data-sly-use.renditionsManager="${'com.egl.core.models.utils.RenditionsManager' @ imagePath=properties.immagine2Reference}" >
                            <sly data-sly-list="${renditionsManager.renditions.keySet.iterator}">
                                <source media="(min-width: ${item}) and (min-resolution: 150dpi)" srcset="${renditionsManager.doubledRenditions[item] @ context='uri'}">
                                <source media="(min-width: ${item})" srcset="${renditionsManager.renditions[item] @ context='uri'}">
                            </sly>
                            <img loading="lazy"  src="${renditionsManager.renditions['1920px']}" alt="${image.description}">
                        </picture>
                    </div>
                    
                     <div class="card-da-2-card-body d-flex flex-column" >
                         <div class="card-da-2-card-body-title">
                            ${properties.titoloCard2 @context='html'} 
                         </div>
                         <div class="card-da-2-card-body-text">
                             ${properties.paragrafoCard2 @context='html'}
                         </div>
                         <div class="bg-link" data-sly-test="${properties.labelCTACard2 && properties.urlCTACard2}">
                         	<a href="${properties.urlCTACard2}" target="${properties.targetCTACard2}" title=${properties.altCTACard2}> 
                              <button type="button" class="btn btn-link card-da-2-cta-secondary pl-0">
                                 ${properties.labelCTACard2}
                              </button>
                          </a>
                         </div>
                     </div>


                        <div class="mask"></div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</sly>
    
