<sly
	data-sly-use.templates="core/wcm/components/commons/v1/templates.html"></sly>

<sly data-sly-call="${templates.placeholder @ isEmpty=testing}"></sly>

<sly data-sly-use.fragModel="com.egl.core.models.promoreminderband.FragmentPromoReminderBandModel"></sly>

<sly data-sly-test.linkCTA="${properties.linkCTA ? properties.linkCTA : '#modale-promozione'}"></sly>
<sly data-sly-test.default="${!properties.modalCTA && linkCTA == '#modale-promozione'}"></sly>
<sly data-sly-test.jsCTA="${properties.itemsjs}"></sly>

<!--PROMO BAND DEFAULT-->
    <!--No countdown-->
    <div id="${properties.id}" data-sly-test.promozione1="${fragModel.fragPromo1}"
      aem-component="countdown" aem-version="1.0" class="${properties.labelCTA ? '' : 'noCta'} fascia-promoReminder container-fluid egl-support-band-container noCountdown promoB-edit-${resource.name}"
    >
      <!-- NEW BAND LUCA -->
      <div class="row mx-0">
        <div class="col-12">
            <div class="container-lg egl-support-band-item-container"
            style="--bg-PromoReminderBand:${promozione1.coloreBackgroundFasciaPromozionale @context='styleToken'}">
              <div class="row">
                
                <div class="col-md-9 text-box-promo">
                    <div class="promoReminder-box">
                        <div class="HP-promo-countdown-div controlWidth HP-img">
                          <div data-sly-use.image3="${'com.egl.core.models.utils.ImageModel' @ imagePath=promozione1.immagineComponentePromoReminderBand}">
                            <picture data-sly-use.rend="${'com.egl.core.models.utils.RenditionsManager' @ imagePath=promozione1.immagineComponentePromoReminderBand}">
                              <source media="(min-resolution: 150dpi)" srcset="${rend.doubledRenditions['1920px'] @ context='uri'}">
                              <img class="HP-promo-countdown-asset HP-img" loading="lazy" src="${rend.renditions['1920px']}" alt="${image3.description}"/>
                            </picture>
                          </div>
                        </div>
                        <h4 class="h4-egl centraContent">${properties.copy @context='html'}</h4>
                    </div>
                </div>
                <div class="col-md-3 cta-box-promo centraContent">
                    <button data-sly-test="${(properties.modalCTA || default) && !jsCTA && properties.labelCTA}"
                      title="${properties.titleTextLink}"
                      type="button"
                      class="btn p20-egl ${properties.typeCTA == 'primary' ? 'egl-cart-cta-primary-yellow' : 'egl-cart-cta-primary-white'}"
                      data-toggle="modal"
                      data-target="${'#' in linkCTA ? '' : '#'}${linkCTA}">
                        ${properties.labelCTA}
                    </button>
                  <!-- Bottone URL -->
                   <a data-sly-test="${(!properties.modalCTA && !default) || jsCTA && properties.labelCTA && (linkCTA || jsCTA)}" href="${jsCTA ? jsCTA : linkCTA @ context='html'}" target="${properties.targetCTA}">
                    <button 
                        title="${properties.titleTextLink}"
                        class="btn p20-egl ${properties.typeCTA == 'primary' ? 'egl-cart-cta-primary-yellow' : 'egl-cart-cta-primary-white'}">
                          ${properties.labelCTA}
                      </button>
                    </a>
                </div>
              </div>
          </div>
          </a>
        </div>
      </div>

    </div><!-- END -->
   
<!--PROMO BAND COUNTDOWN-->
    <!--PROMOZIONE 1-->
    <div id="${properties.id}" data-sly-test.promozione1="${fragModel.fragPromo1}"
      aem-component="countdown" aem-version="1.0" class="${properties.labelCTA ? '' : 'noCta'} fascia-promoReminder container-fluid egl-support-band-container countdown promoB-promo1-${resource.name}"
      data-start-promo="${promozione1.dataInizioPromozione}" data-end-promo="${promozione1.dataFinePromozione}"
    >
      <!-- NEW BAND LUCA -->
      <div class="row mx-0">
        <div class="col-12">
            <div class="container-lg egl-support-band-item-container"
            style="--bg-PromoReminderBand:${promozione1.coloreBackgroundFasciaPromozionale @context='styleToken'}"
            >
              <div class="row">
                
                <div class="col-lg-9 col-md-12 text-box-promo">
                    <div class="promoReminder-box">
                        <div class="HP-promo-countdown-div centeredMobile">

                              <!-- gestione data -->
                            <input id="inputCountdown" type="hidden" value="2022-12-16">
                            <div class="HP-promo-countdown-content centraMobile">
                              <div class="cap12-egl"><b>PROMO ATTIVA!</b> Scade tra:</div>
                              <div class="d-flex HP-promo-countdown-tempo">
                                <div class="promo-rb-days">
                                  <div>01</div>
                                </div>
                                  <div>:</div>
                                <div class="promo-rb-hours">
                                <div>12</div>
                                </div>
                                  <div>:</div>
                                <div class="promo-rb-minutes">
                                  <div>38</div>
                                </div>
                              </div>
                              <div class="d-flex HP-promo-countdown-data">
                                <div>GIORNO</div>
                                <div>ORE</div>
                                <div>MINUTI</div>
                              </div>
                            </div>
                            <div data-sly-use.image3="${'com.egl.core.models.utils.ImageModel' @ imagePath=promozione1.immagineComponentePromoReminderBand}">
                              <picture data-sly-use.rend="${'com.egl.core.models.utils.RenditionsManager' @ imagePath=promozione1.immagineComponentePromoReminderBand}">
                                <source media="(min-resolution: 150dpi)" srcset="${rend.doubledRenditions['1920px'] @ context='uri'}">
                                <img class="HP-promo-countdown-asset" loading="lazy" src="${rend.renditions['1920px']}" alt="${image3.description}"/>
                              </picture>
                            </div>

                        </div>
                       
                        <h4 class="h4-egl centraContent">${properties.copy @context='html'}</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 cta-box-promo centraContent">
                  <button data-sly-test="${(properties.modalCTA || default) && !jsCTA && properties.labelCTA}"
                      title="${properties.titleTextLink}"
                      type="button"
                      class="btn p20-egl ${properties.typeCTA == 'primary' ? 'egl-cart-cta-primary-yellow' : 'egl-cart-cta-primary-white'}"
                      data-toggle="modal"
                      data-target="${'#' in linkCTA ? '' : '#'}${linkCTA}">
                        ${properties.labelCTA}
                    </button>
                  <!-- Bottone URL -->
                   <a data-sly-test="${(!properties.modalCTA && !default) || jsCTA && properties.labelCTA && (linkCTA || jsCTA)}" href="${jsCTA ? jsCTA : linkCTA @ context='html'}" target="${properties.targetCTA}">
                    <button 
                        title="${properties.titleTextLink}"
                        class="btn p20-egl ${properties.typeCTA == 'primary' ? 'egl-cart-cta-primary-yellow' : 'egl-cart-cta-primary-white'}">
                          ${properties.labelCTA}
                      </button>
                    </a>
                </div>

              </div>
            </div>
        </div>
      </div>

    </div><!-- END -->

 
 
<div>
	<sly
		data-sly-resource="${'modale-promozione' @ resourceType='enigaseluce/components/promo-band/modale-promozione'}"></sly>
</div>

<script data-sly-test="${wcmmode.disabled && (fragModel.fragPromo1 || fragModel.fragPromo2)}">
	(function($) {
		$(document).ready( function() {
      promotionReminderHideShow(".promoB-edit-${resource.name @ context='scriptToken'}",".promoB-promo1-${resource.name @ context='scriptToken'}", "egl-support-band-container");
      countdownElements(".promoB-promo1-${resource.name @ context='scriptToken'}", ".promo-rb-days", ".promo-rb-hours", ".promo-rb-minutes");
      });
	})($);
</script>