<script type="text/javascript" src="/etc.clientlibs/enigaseluce/clientlibs/clientlib-livechat/resources/appChatDeps.js?1675104754"></script>
<script type="text/javascript" src="/etc.clientlibs/enigaseluce/clientlibs/clientlib-livechat/resources/clickToChat.js?1675104754"></script>
<script type="text/javascript" src="/etc.clientlibs/enigaseluce/clientlibs/clientlib-livechat/resources/clickToChat_button.js?1675104754"></script>
<script type="text/javascript" src="/etc.clientlibs/enigaseluce/clientlibs/clientlib-livechat/resources/chatBox_config.js?1675104754"></script>
<script type="text/javascript" src="/etc.clientlibs/enigaseluce/clientlibs/clientlib-livechat/resources/chatBox.js?1675104754"></script>
<script type="text/javascript" src="/etc.clientlibs/enigaseluce/clientlibs/clientlib-livechat/resources/overlayer_invito_chat.js?1675104754"></script>
<input type="button" id="chatopen" value="chat" style="display:none" />
<div id="app-chat-to-be"></div>